In [4]:
#install packages
!pip install flaml

Requirement already satisfied: flaml in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (1.0.13)
Requirement already satisfied: pandas>=1.1.4 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from flaml) (1.5.1)
Requirement already satisfied: NumPy>=1.17.0rc1 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from flaml) (1.23.4)
Requirement already satisfied: xgboost>=0.90 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from flaml) (1.7.1)
Requirement already satisfied: lightgbm>=2.3.1 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from flaml) (3.3.3)
Requirement already satisfied: scikit-learn>=0.24 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from flaml) (1.1.3)
Requirement already satisfied: scipy>=1.4.1 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from flaml) (1.5.2)
Requirement already satisfied: pytz>=2020.1 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1.4->flaml) (2020.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1.4->flaml) (2.8.1)
Requirement already satisfied: wheel in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from lightgbm>=2.3.1->flaml) (0.35.1)
Requirement already satisfied: joblib>=1.0.0 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.24->flaml) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.24->flaml) (2.1.0)
Requirement already satisfied: six>=1.5 in /Users/diane/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=1.1.4->flaml) (1.15.0)

In [5]:
# load all imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#%matplotlib inline
import sklearn
from sklearn.model_selection import train_test_split

In [6]:
from flaml import AutoML

In [7]:
# data source https://www.kaggle.com/rtatman/188-million-us-wildfires
data = pd.read_csv('fires.csv')

<ipython-input-7-03c3e46369cd>:2: DtypeWarning: Columns (8,10,11,12,13,14,15,16,17,18,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('fires.csv')

In [8]:
data.head()

,1,1.1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest.1,...,A,40.03694444,-121.00583333,5,USFS,CA,63,063,Plumas,Unnamed: 38
0,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,...,A,38.933056,-120.404444,5,USFS,CA,61.0,61.0,Placer,NaN
1,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,...,A,38.984167,-120.735556,13,STATE OR PRIVATE,CA,17.0,17.0,El Dorado,NaN
2,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,...,A,38.559167,-119.913333,5,USFS,CA,3.0,3.0,Alpine,NaN
3,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,...,A,38.559167,-119.933056,5,USFS,CA,3.0,3.0,Alpine,NaN
4,6,6,FS-1418849,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,...,A,38.635278,-120.103611,5,USFS,CA,5.0,5.0,Amador,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880464 entries, 0 to 1880463
Data columns (total 39 columns):
 #   Column                    Dtype
---  ------                    -----
 0   1                         int64
 1   1.1                       int64
 2   FS-1418826                object
 3   FED                       object
 4   FS-FIRESTAT               object
 5   FS                        object
 6   USCAPNF                   object
 7   Plumas National Forest    object
 8   0511                      object
 9   Plumas National Forest.1  object
 10  1.2                       object
 11  PNF-47                    object
 12  BJ8K                      object
 13  FOUNTAIN                  object
 14  Unnamed: 14               object
 15  Unnamed: 15               object
 16  Unnamed: 16               object
 17  Unnamed: 17               object
 18  Unnamed: 18               object
 19  2005                      int64
 20  2453403.5                 float64
 21  33                        int64
 22  1300                      float64
 23  9                         int64
 24  Miscellaneous             object
 25  2453403.5.1               float64
 26  33.1                      float64
 27  1730                      float64
 28  0.1                       float64
 29  A                         object
 30  40.03694444               float64
 31  -121.00583333             float64
 32  5                         int64
 33  USFS                      object
 34  CA                        object
 35  63                        object
 36  063                       float64
 37  Plumas                    object
 38  Unnamed: 38               float64
dtypes: float64(10), int64(6), object(23)
memory usage: 559.5+ MB

In [11]:
data.describe()

,1,1.1,2005,2453403.5,33,1300,9,2453403.5.1,33.1,1730,0.1,40.03694444,-121.00583333,5,063,Unnamed: 38
count,1.880464e+06,1.880464e+06,1.880464e+06,1.880464e+06,1.880464e+06,997826.000000,1.880464e+06,9.889330e+05,988933.000000,907911.000000,1.880464e+06,1.880464e+06,1.880464e+06,1.880464e+06,1.202316e+06,0.0
mean,9.402335e+05,5.484023e+07,2.003710e+03,2.453064e+06,1.647192e+02,1453.014479,5.979035e+00,2.453238e+06,172.656907,1534.831865,7.452020e+01,3.678121e+01,-9.570493e+01,1.059658e+01,9.578353e+01,NaN
std,5.428433e+05,1.011963e+08,6.663100e+00,2.434574e+03,9.003888e+01,405.961137,3.483860e+00,2.687549e+03,84.320273,432.737884,2.497599e+03,6.139032e+00,1.671694e+01,4.404661e+00,9.861509e+01,NaN
min,2.000000e+00,2.000000e+00,1.992000e+03,2.448622e+06,1.000000e+00,0.000000,1.000000e+00,2.448622e+06,1.000000,0.000000,1.000000e-05,1.793972e+01,-1.788026e+02,0.000000e+00,1.000000e+00,NaN
25%,4.701178e+05,5.055008e+05,1.998000e+03,2.451084e+06,8.900000e+01,1240.000000,3.000000e+00,2.450700e+06,102.000000,1310.000000,1.000000e-01,3.281860e+01,-1.103632e+02,8.000000e+00,2.900000e+01,NaN
50%,9.402335e+05,1.067762e+06,2.004000e+03,2.453178e+06,1.640000e+02,1457.000000,5.000000e+00,2.453466e+06,181.000000,1600.000000,1.000000e+00,3.545250e+01,-9.204293e+01,1.400000e+01,6.700000e+01,NaN
75%,1.410349e+06,1.910639e+07,2.009000e+03,2.455036e+06,2.300000e+02,1708.000000,9.000000e+00,2.455754e+06,232.000000,1810.000000,3.300000e+00,4.082720e+01,-8.229760e+01,1.400000e+01,1.210000e+02,NaN
max,1.880465e+06,3.003484e+08,2.015000e+03,2.457388e+06,3.660000e+02,2359.000000,1.300000e+01,2.457392e+06,366.000000,2359.000000,6.069450e+05,7.033060e+01,-6.525694e+01,1.500000e+01,8.100000e+02,NaN

In [12]:
data.columns.isna()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [13]:
print(data.columns)

Index(['1', '1.1', 'FS-1418826', 'FED', 'FS-FIRESTAT', 'FS', 'USCAPNF',
       'Plumas National Forest', '0511', 'Plumas National Forest.1', '1.2',
       'PNF-47', 'BJ8K', 'FOUNTAIN', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', '2005', '2453403.5', '33',
       '1300', '9', 'Miscellaneous', '2453403.5.1', '33.1', '1730', '0.1', 'A',
       '40.03694444', '-121.00583333', '5', 'USFS', 'CA', '63', '063',
       'Plumas', 'Unnamed: 38'],
      dtype='object')

In [14]:
data = data.drop(columns=["1", "1.1"])

In [23]:
data.columns = ["FOD_ID", "FPA_ID", "SOURCESYSTEMTYPE", "SOURCESYSTEM", "NWCGREPORTINGAGENCY", "NWCGREPORTINGUNIT_ID", "SOURCEREPORTINGUNIT_NAME", "LOCALFIREREPORT_ID", "LOCALINCIDENTID", "FIRE_CODE", "FIRE_NAME", "ICS209INCIDENT_NUMBER", "ICS209NAME", "MTBS_ID", "MTBSFIRENAME", "COMPLEX_NAME", "EMPTY", "FIRE_YEAR", "DISCOVERY_DATE", "DISCOVERY_DOY", "DISCOVERY_TIME", "STATCAUSECODE", "STATCAUSEDESCR", "CONT_DATE", "CONT_DOY", "CONT_TIME", "FIRE_SIZE", "FIRESIZECLASS", "LATITUDE", "LONGITUDE", "OWNER_CODE", "OWNER_DESCR", "STATE", "DELETE!","DELETE", "DELETE2", "DELETE3"]

In [25]:
data = data.drop(columns=["DELETE!", "DELETE", "DELETE2", "DELETE3"])

In [26]:
data.head()

,FOD_ID,FPA_ID,SOURCESYSTEMTYPE,SOURCESYSTEM,NWCGREPORTINGAGENCY,NWCGREPORTINGUNIT_ID,SOURCEREPORTINGUNIT_NAME,LOCALFIREREPORT_ID,LOCALINCIDENTID,FIRE_CODE,...,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRESIZECLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE
0,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,13,13,...,2453137.5,133.0,1530.0,0.25,A,38.933056,-120.404444,5,USFS,CA
1,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,27,021,...,2453156.5,152.0,2024.0,0.10,A,38.984167,-120.735556,13,STATE OR PRIVATE,CA
2,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,43,6,...,2453189.5,185.0,1400.0,0.10,A,38.559167,-119.913333,5,USFS,CA
3,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,44,7,...,2453189.5,185.0,1200.0,0.10,A,38.559167,-119.933056,5,USFS,CA
4,FS-1418849,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,54,8,...,2453187.5,183.0,1600.0,0.10,A,38.635278,-120.103611,5,USFS,CA

In [28]:
print(data.columns)

Index(['FOD_ID', 'FPA_ID', 'SOURCESYSTEMTYPE', 'SOURCESYSTEM',
       'NWCGREPORTINGAGENCY', 'NWCGREPORTINGUNIT_ID',
       'SOURCEREPORTINGUNIT_NAME', 'LOCALFIREREPORT_ID', 'LOCALINCIDENTID',
       'FIRE_CODE', 'FIRE_NAME', 'ICS209INCIDENT_NUMBER', 'ICS209NAME',
       'MTBS_ID', 'MTBSFIRENAME', 'COMPLEX_NAME', 'EMPTY', 'FIRE_YEAR',
       'DISCOVERY_DATE', 'DISCOVERY_DOY', 'DISCOVERY_TIME', 'STATCAUSECODE',
       'STATCAUSEDESCR', 'CONT_DATE', 'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE',
       'FIRESIZECLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR',
       'STATE'],
      dtype='object')